<form method="post" action="/new">
  Name of the recipe:<br>
  <input type="text" name="name"><br>
  Description:<br>
  <input type="text" name="description"><br>
  Preparation Time:<br>
  <input type="text" name="prep_time"><br>
  <input type="submit" value="Submit">
</form>
